@using LibraryMangementSystem.ViewModels
@model AssignViewModel
@{
    ViewData["Title"] = "AssignToRole";
}

<h1>AssignToRole</h1>


<form asp-action="SaveAssign" method="post">
    <input type="hidden" asp-for="UserName" />

    <div class="form-group">
        <label for="AssignedRoles">Roles</label>
        <select asp-for="AssignedRoles" class="form form-control" multiple="multiple" asp-items="@(new SelectList(Model.Roles, "RoleName", "RoleName"))">
        </select>
    </div>

    <input type="submit" value="Saved" class="btn btn-success" />
</form>