@model IEnumerable<LibraryMangementSystem.ViewModels.UsersAndRolesViewModel>

@{
    ViewData["Title"] = "GetAllUsers";
}

<h1>GetAllUsers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>Roles</th>
            <th>Assign To Role</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @string.Join(", ", item.Roles)
            </td>
            <td>
                <a asp-action="AssignToRole" asp-route-UserName="@item.UserName">Assign</a>
            </td>
        </tr>
}
    </tbody>
</table>
