@model Checkout
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="SaveCreate" method="post">
    <div class="form-group">
        <label for="bookId">Select Book</label>
        <select asp-for="BookId" class="form-control" asp-items="@(new SelectList(ViewData["Books"] as IEnumerable<LibraryMangementSystem.Models.Book>, "BookId", "Title"))">
            <option value="">-- Select a Book --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="memberId">Select Member</label>
        <select asp-for="MemberId" class="form-control" asp-items="@(new SelectList(ViewData["Members"] as IEnumerable<LibraryMangementSystem.Models.Member>, "MemberId", "FirstName"))">
            <option value="">-- Select a Member --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="dueDate">Due Date and Time</label>
        <input asp-for="DueDate" class="form-control" type="datetime-local" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>


   @*  <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input asp-for="DueDate" class="form-control" type="date" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBearth" class="control-label"></label>
        <input asp-for="DateOfBearth" class="form-control" />
        <span asp-validation-for="DateOfBearth" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-primary">Checkout Book</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

